body.node-type-product {
  .l-main{
    .field--name-uc-product-image {
      float: left;
      margin-bottom: 5px;

      img {
        width: 85%;
      }

      @include breakpoint($mobile) {
        float: none;
        text-align: center;

        img {
          width: auto;
        }
      }
      @include breakpoint($tablet) {

      }
    }

    .field--type-number-decimal {
      float: left;
      width: 50%;

      @include breakpoint($mobile) {
        float: none;
        width: 100%;
      }
      @include breakpoint($tablet) {
        float: left;
        width: 50%;
      }
    }

    .field--name-body {
        clear: both;
    }

    form {
      float: left;
      padding-top: 10px;
      margin-bottom: 20px;
      width: 50%;

      @include breakpoint($mobile) {
        float: none;
        width: 100%;
      }
      @include breakpoint($tablet) {
        width: 40%;
      }

      .form-item-quantity {
        float: left;
      }

      #edit-submit {
        margin-top: 15px;
      }
    }
  }
}

.listing-items {
  border-bottom: 1px dotted #CCCCCC;
  display: block;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  width: 100%;

	.listing-title {
	  font-size: 20px;
	}

  .listing-content {
    display: block;
    float: right;
    width: 80%;
	}

	.thumbnail-image {
    float: left;
    margin-top: 17px;
	}

	.listing-price {
    float: right;
    width: 80%;
	}
}

#views-exposed-form-bookstore-page {
  display: none;
}
