@charset "UTF-8";
.l-content {
  font-size: 1.071em;
}

/* No files to import found in abstractions/**\/* */
img, media {
  max-width: 100%;
  height: auto;
}

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: Arial, sans-serif;
  color: #3b3b3b;
}

body {
  font-size: 13px;
}

/**
 * $LINKS
 */
a {
  color: #3f8e9d;
}
a:visited {
  color: #3f8e9d;
}
a:focus {
  color: black;
}
a:hover {
  color: #018fe2;
}
a:active {
  color: #018fe2;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * $HEADINGS
 */
h1, .alpha {
  font-weight: normal;
  line-height: 30px;
}

h2, .beta {
  font-size: 17px;
}

h3, .gamma {
  font-size: 14px;
}

/**
 * $PARAGRAPHS
 */
/**
 * $QUOTES
 */
/**
 * $MARKS
 */
ul.breadcrumb {
  font-size: 0.929em;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.breadcrumb li {
  display: inline;
  padding: 0;
  margin: 0;
}
ul.breadcrumb li:before {
  content: " » ";
}
ul.breadcrumb li:first-child:before {
  content: "";
}

.l-footer {
  background-color: #C8DBDE;
  margin-top: 1em;
}
@media (max-width: 480px) {
  .l-footer {
    padding: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .l-footer {
    padding: 10px;
  }
}
.l-footer h2 {
  color: #FFFFFF;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}
.l-footer ul {
  display: inline-block;
  margin: 10px 0 10px;
  padding: 0;
  width: 100%;
}
.l-footer ul li {
  background: url("../images/footer-li.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
  list-style: none outside none;
  padding: 0 0 0 13px;
}
@media (max-width: 480px) {
  .l-footer .footer-subscribe {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .l-footer .footer-subscribe {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 769px) {
  .l-footer .footer-subscribe {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
.l-footer .footer-subscribe form {
  display: inline-block;
}
.l-footer .footer-subscribe .social-icons a {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-image: url("../images/social-icons-v2.png");
  background-repeat: no-repeat;
  float: left;
  height: 36px;
  margin-right: 2px;
  width: 36px;
}
.l-footer .footer-subscribe .social-icons a.linkedin {
  background-position: -94px 0;
}
.l-footer .footer-subscribe .social-icons a.twitter {
  background-position: -46px 0;
}
.l-footer .footer-subscribe .social-icons a.facebook {
  background-position: 2px 0;
}
.l-footer .footer-blog ul {
  margin-top: 0;
}
@media (max-width: 480px) {
  .l-footer .footer-blog {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .l-footer .footer-blog {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    clear: left;
  }
}
@media (min-width: 769px) {
  .l-footer .footer-blog {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
.l-footer .footer-endorsements a img {
  margin-right: 5px;
}
@media (max-width: 480px) {
  .l-footer .footer-endorsements {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l-footer .footer-endorsements .prosci-content img {
    display: none;
  }
  .l-footer .footer-endorsements a img {
    display: block;
    margin-bottom: 5px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .l-footer .footer-endorsements {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l-footer .footer-endorsements a img {
    display: block;
    margin-bottom: 5px;
  }
}
@media (min-width: 769px) {
  .l-footer .footer-endorsements {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l-footer .footer-endorsements .prosci-content p {
    float: right;
    margin: 0;
    width: 63%;
  }
  .l-footer .footer-endorsements ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
.l-footer .footer-copyright {
  clear: both;
}
@media (min-width: 769px) {
  .l-footer .footer-copyright {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

input[type='text'] {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  color: #A0A0A0;
  display: block;
  font-size: 13px;
  margin-top: -1px;
  padding: 5px;
}
input[type='text']#subscribe-email {
  width: 160px;
}
input[type='submit'] {
  background-color: #A0A0A0;
  border: 0;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  margin-left: 3px;
  padding: 5px;
}

select {
  border-color: #CDCECE;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  width: 280px;
}

div.addressfield-container-inline > div.form-item {
  float: none;
}

.l-footer input[type='text'], .l-footer input[type='submit'] {
  float: left;
}

input.error {
  border: 1px solid red;
}

.entityform {
  background-color: #F3F9FA !important;
  margin-top: 0;
  padding: 30px;
}
.entityform fieldset {
  border: 0;
}
.entityform fieldset legend {
  width: 100%;
}
.entityform fieldset legend .fieldset-legend {
  background-image: none !important;
  border-bottom: 1px solid #2D8494;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.entityform .field-type-addressfield {
  margin: 0;
  padding-left: 0;
}
.entityform .field-type-addressfield fieldset {
  margin: 0;
  padding-left: 0;
}
.entityform .field-type-addressfield legend {
  display: none;
}
.entityform .pre-intructions {
  background-color: #fff;
  margin: -30px;
  margin-bottom: 30px;
  margin-top: -45px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#block-menu-block-main-menu {
  background: url("../images/menu-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 3px;
  height: 42px;
  padding-right: 10px;
  width: auto;
}
@media (max-width: 480px) {
  #block-menu-block-main-menu {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #block-menu-block-main-menu {
    margin: 25px 10px 0 10px;
  }
}
#block-menu-block-main-menu h2 {
  display: none;
}
#block-menu-block-main-menu ul {
  margin: 0;
  padding: 0;
}
#block-menu-block-main-menu ul li {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 8px 10px 9px;
  position: relative;
}
@media (max-width: 896px) {
  #block-menu-block-main-menu ul li {
    padding: 8px 5px 5px;
  }
}
@media (max-width: 580px) {
  #block-menu-block-main-menu ul li {
    padding: 8px 3px 3px;
  }
}
#block-menu-block-main-menu ul li a {
  color: #FFFFFF;
  float: left;
  padding: 3px 10px;
}
@media (max-width: 896px) {
  #block-menu-block-main-menu ul li a {
    padding: 3px 5px;
  }
}
@media (max-width: 580px) {
  #block-menu-block-main-menu ul li a {
    padding: 3px 3px;
  }
}
@media (max-width: 580px) {
  #block-menu-block-main-menu ul li.first a {
    padding: 3px 10px;
  }
}

.links--inline li {
  margin-right: 0.5em;
}

#block-menu-block-left-sidebar-menu,
#block-views-catalog-block,
#block-views-latest-blog-block,
#block-views-archive-block {
  margin-right: 15px;
}
#block-menu-block-left-sidebar-menu h2,
#block-views-catalog-block h2,
#block-views-latest-blog-block h2,
#block-views-archive-block h2 {
  border-bottom: 1px solid #D6D6D6;
  color: #A0A0A0;
  font-size: 20px;
}
#block-menu-block-left-sidebar-menu h2 a,
#block-views-catalog-block h2 a,
#block-views-latest-blog-block h2 a,
#block-views-archive-block h2 a {
  color: #A0A0A0;
}
#block-menu-block-left-sidebar-menu ul,
#block-views-catalog-block ul,
#block-views-latest-blog-block ul,
#block-views-archive-block ul {
  font-size: 0.914em;
  list-style: none outside none;
  margin-left: 0;
  padding-left: 0;
}
#block-menu-block-left-sidebar-menu ul li,
#block-views-catalog-block ul li,
#block-views-latest-blog-block ul li,
#block-views-archive-block ul li {
  list-style: none outside none;
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 0;
}

a#open-sidr {
  top: 55px;
}

.l-region--sidebar-first div.block {
  margin-bottom: 25px;
}

.l-region--sidebar-second .panel-pane, .l-region--sidebar-second .block--basic-cart-shopping-cart, .l-region--sidebar-second #block-bean-heartplace-scholarships {
  background-color: #F0F0F0;
  margin-bottom: 25px;
}
.l-region--sidebar-second .panel-pane.free-events div.item-list, .l-region--sidebar-second .block--basic-cart-shopping-cart.free-events div.item-list, .l-region--sidebar-second #block-bean-heartplace-scholarships.free-events div.item-list {
  border-bottom: 1px solid #fff;
}
.l-region--sidebar-second .panel-pane h2, .l-region--sidebar-second .block--basic-cart-shopping-cart h2, .l-region--sidebar-second #block-bean-heartplace-scholarships h2 {
  background-color: #A9A9A9;
  clear: both;
  color: #FFFFFF;
  display: inline-table;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding-left: 10px;
  text-transform: lowercase;
  width: 100%;
}
.l-region--sidebar-second .panel-pane div.view, .l-region--sidebar-second .panel-pane div.block__content, .l-region--sidebar-second .block--basic-cart-shopping-cart div.view, .l-region--sidebar-second .block--basic-cart-shopping-cart div.block__content, .l-region--sidebar-second #block-bean-heartplace-scholarships div.view, .l-region--sidebar-second #block-bean-heartplace-scholarships div.block__content {
  margin: 10px;
  margin-top: -10px;
  padding-bottom: 10px;
}
.l-region--sidebar-second .panel-pane div.view ul, .l-region--sidebar-second .panel-pane div.view li, .l-region--sidebar-second .panel-pane div.block__content ul, .l-region--sidebar-second .panel-pane div.block__content li, .l-region--sidebar-second .block--basic-cart-shopping-cart div.view ul, .l-region--sidebar-second .block--basic-cart-shopping-cart div.view li, .l-region--sidebar-second .block--basic-cart-shopping-cart div.block__content ul, .l-region--sidebar-second .block--basic-cart-shopping-cart div.block__content li, .l-region--sidebar-second #block-bean-heartplace-scholarships div.view ul, .l-region--sidebar-second #block-bean-heartplace-scholarships div.view li, .l-region--sidebar-second #block-bean-heartplace-scholarships div.block__content ul, .l-region--sidebar-second #block-bean-heartplace-scholarships div.block__content li {
  list-style-type: none;
  padding-left: 0px;
}
.l-region--sidebar-second .panel-pane div.block__content, .l-region--sidebar-second .block--basic-cart-shopping-cart div.block__content, .l-region--sidebar-second #block-bean-heartplace-scholarships div.block__content {
  margin-top: 0;
}
.l-region--sidebar-second #block-bean-heartplace-scholarships .field--name-field-block-image {
  text-align: center;
}
.l-region--sidebar-second #block-bean-heartplace-scholarships .field--name-title-field, .l-region--sidebar-second #block-bean-heartplace-scholarships h3 {
  display: none;
}

body.page-taxonomy-term .group-left {
  float: none;
  width: 100%;
}
@media (min-width: 769px) {
  body.page-taxonomy-term .group-left {
    float: left;
    width: 50%;
  }
}
body.page-taxonomy-term .group-right {
  float: none;
  width: 100%;
}
@media (min-width: 769px) {
  body.page-taxonomy-term .group-right {
    float: right;
    width: 50%;
  }
}
body.page-taxonomy-term .field {
  margin-bottom: 10px;
}
body.page-taxonomy-term .field-name-field-location-phone .label-inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1.071em;
  vertical-align: baseline;
}
body.page-taxonomy-term .field-name-field-location-image {
  text-align: center;
}
@media (min-width: 769px) {
  body.page-taxonomy-term .field-name-field-location-image {
    text-align: right;
  }
}

.staff-member {
  min-height: 180px;
}
.staff-member img {
  float: left;
  margin-right: 10px;
}
@media (max-width: 480px) {
  .staff-member img {
    display: none;
  }
}
.staff-member h2 {
  padding-top: 5px;
}
.staff-member span {
  dispaly: block;
}

body.page-user .field--name-field-user-image,
body.page-user .field--name-field-user-pdf {
  float: right;
  margin-left: 10px;
  width: 139px;
}
body.page-user .field--name-field-user-pdf {
  clear: right;
  text-align: center;
}

body.page-blog article {
  clear: both;
  border-bottom: 1px solid #D3D7D9;
  padding-bottom: 30px;
}
body.page-blog article .node__links {
  float: right;
}

.blog_usernames_blog {
  display: none;
}

body.node-type-event div.field {
  margin-bottom: 1em;
}
@media (max-width: 480px) {
  body.node-type-event div.group-left {
    float: none;
    width: 100%;
  }
}
body.node-type-event div.group-left span.date-display-start,
body.node-type-event div.group-left span.date-display-end {
  clear: both;
  display: block;
}
@media (max-width: 480px) {
  body.node-type-event div.group-right {
    float: none;
    width: 100%;
  }
}

body.page-calendar ul.pager {
  list-style-type: none;
}

body.node-type-product .l-main .field--name-uc-product-image {
  float: left;
  margin-bottom: 5px;
}
body.node-type-product .l-main .field--name-uc-product-image img {
  width: 85%;
}
@media (max-width: 480px) {
  body.node-type-product .l-main .field--name-uc-product-image {
    float: none;
    text-align: center;
  }
  body.node-type-product .l-main .field--name-uc-product-image img {
    width: auto;
  }
}
body.node-type-product .l-main .field--type-number-decimal {
  float: left;
  width: 50%;
}
@media (max-width: 480px) {
  body.node-type-product .l-main .field--type-number-decimal {
    float: none;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body.node-type-product .l-main .field--type-number-decimal {
    float: left;
    width: 50%;
  }
}
body.node-type-product .l-main .field--name-body {
  clear: both;
}
body.node-type-product .l-main form {
  float: left;
  padding-top: 10px;
  margin-bottom: 20px;
  width: 50%;
}
@media (max-width: 480px) {
  body.node-type-product .l-main form {
    float: none;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body.node-type-product .l-main form {
    width: 40%;
  }
}
body.node-type-product .l-main form .form-item-quantity {
  float: left;
}
body.node-type-product .l-main form #edit-submit {
  margin-top: 15px;
}

.listing-items {
  border-bottom: 1px dotted #CCCCCC;
  display: block;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  width: 100%;
}
.listing-items .listing-title {
  font-size: 20px;
}
.listing-items .listing-content {
  display: block;
  float: right;
  width: 80%;
}
.listing-items .thumbnail-image {
  float: left;
  margin-top: 17px;
}
.listing-items .listing-price {
  float: right;
  width: 80%;
}

#views-exposed-form-bookstore-page {
  display: none;
}

body.node-type-service .ds-2col-stacked-fluid {
  background-color: #F2F2F2;
  margin-bottom: 20px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left,
body.node-type-service .ds-2col-stacked-fluid .group-right {
  border-top: 30px solid #0C8096;
  padding: 5px;
}
@media (max-width: 480px) {
  body.node-type-service .ds-2col-stacked-fluid .group-left,
  body.node-type-service .ds-2col-stacked-fluid .group-right {
    display: block;
    float: none;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body.node-type-service .ds-2col-stacked-fluid .group-left,
  body.node-type-service .ds-2col-stacked-fluid .group-right {
    display: block;
    float: none;
    width: 100%;
  }
}
body.node-type-service .ds-2col-stacked-fluid .group-left div,
body.node-type-service .ds-2col-stacked-fluid .group-right div {
  background-repeat: no-repeat;
  font-size: 13px;
  margin-left: 10px;
  padding-left: 70px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div h2,
body.node-type-service .ds-2col-stacked-fluid .group-right div h2 {
  color: #444444;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
  text-transform: lowercase;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div ul,
body.node-type-service .ds-2col-stacked-fluid .group-right div ul {
  padding-left: 15px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.location,
body.node-type-service .ds-2col-stacked-fluid .group-right div.location {
  background-image: url("../images/icons/location.png");
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.location div,
body.node-type-service .ds-2col-stacked-fluid .group-right div.location div {
  margin-left: 0px;
  padding-left: 0px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.location div.view-service-dates div.view-footer p,
body.node-type-service .ds-2col-stacked-fluid .group-right div.location div.view-service-dates div.view-footer p {
  margin: 0;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.duration,
body.node-type-service .ds-2col-stacked-fluid .group-right div.duration {
  background-image: url("../images/icons/duration.png");
  min-height: 60px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.presenters,
body.node-type-service .ds-2col-stacked-fluid .group-right div.presenters {
  background-image: url("../images/icons/presenter.png");
  min-height: 50px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.presenters a,
body.node-type-service .ds-2col-stacked-fluid .group-right div.presenters a {
  display: block;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.fee,
body.node-type-service .ds-2col-stacked-fluid .group-right div.fee {
  background-image: url("../images/icons/fee.png");
  min-height: 50px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.fee span.registration-fee-title,
body.node-type-service .ds-2col-stacked-fluid .group-right div.fee span.registration-fee-title {
  color: #757575;
  font-size: 12px;
  font-weight: bold;
  float: left;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.fee strong,
body.node-type-service .ds-2col-stacked-fluid .group-right div.fee strong {
  color: #757575;
  float: right;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.attend,
body.node-type-service .ds-2col-stacked-fluid .group-right div.attend {
  background-image: url("../images/icons/attend.png");
  min-height: 50px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.benefits,
body.node-type-service .ds-2col-stacked-fluid .group-right div.benefits {
  background-image: url("../images/icons/benefits.png");
  min-height: 50px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.inclusions,
body.node-type-service .ds-2col-stacked-fluid .group-right div.inclusions {
  background-image: url("../images/icons/inclusions.png");
  min-height: 50px;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.field--name-field-service-category,
body.node-type-service .ds-2col-stacked-fluid .group-right div.field--name-field-service-category {
  margin: 0;
  padding: 0;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.field--name-field-service-category div,
body.node-type-service .ds-2col-stacked-fluid .group-right div.field--name-field-service-category div {
  margin: 0;
  padding: 0;
}
body.node-type-service .ds-2col-stacked-fluid .group-left div.field--name-field-service-category a.service-detail-register-button,
body.node-type-service .ds-2col-stacked-fluid .group-right div.field--name-field-service-category a.service-detail-register-button {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00697D', endColorstr='#FF00505F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00697d), color-stop(100%, #00505f));
  background-image: -webkit-linear-gradient(#00697d, #00505f);
  background-image: -moz-linear-gradient(#00697d, #00505f);
  background-image: -o-linear-gradient(#00697d, #00505f);
  background-image: linear-gradient(#00697d, #00505f);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 18px;
  font-weight: bold;
  height: 67px;
  line-height: 15px;
  margin: 40px;
  padding: 27px 0 0;
  text-align: center;
  width: 182px;
  zoom: 1;
}
@media (max-width: 480px) {
  body.node-type-service .ds-2col-stacked-fluid .group-right {
    border-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body.node-type-service .ds-2col-stacked-fluid .group-right {
    border-top: 0;
  }
}
body.node-type-service .ds-2col-stacked-fluid .group-footer {
  background-color: #FFF;
  padding-top: 20px;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .pdf-container {
  border-top: 1px solid #E5E5E5;
  height: 40px;
  margin-bottom: 25px;
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .pdf-container .pdf {
  background-image: url("../images/icons/pdf.jpg");
  background-repeat: no-repeat;
  color: #00697D;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  padding: 5px 0 0 45px;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .pdf-container .adobe {
  font-size: 10px;
  left: 46px;
  position: relative;
  top: -17px;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs {
  margin-top: 20px;
  margin-bottom: -13px;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs div.view-service-dates div.view-content {
  margin: 10px auto;
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs div.view-service-dates div.view-content table {
  width: 100%;
}
@media (max-width: 480px) {
  body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs div.view-service-dates div.view-content table td,
  body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs div.view-service-dates div.view-content table th {
    vertical-align: top;
  }
}
body.node-type-service .ds-2col-stacked-fluid .group-footer .field-group-htabs .views-field-field-event-date {
  width: 110px;
}

@media (max-width: 480px) {
  body.section-services .panel-panel {
    float: none;
    width: 100%;
  }
}

html body {
  border-top: 6px solid #00697D;
  margin: auto;
  padding-top: 35px;
}
html body h1.site-name {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  float: left;
}
html body .l-header {
  max-width: 960px;
  margin: auto;
  margin-bottom: 1em;
  clear: both;
}
html body .l-header .l-branding {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
@media (max-width: 480px) {
  html body .l-header .l-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  html body .l-header .l-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
  }
}
html body .l-region--navigation {
  width: 74.57627%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: 25px;
  margin-bottom: 3em;
}
@media (max-width: 480px) {
  html body .l-region--navigation {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  html body .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 0;
    margin-top: 0;
  }
}
html body .l-region--navigation ul li.first {
  background-image: url("../images/home-icon.png");
  background-repeat: no-repeat;
  background-position: 20px 11px;
  font-size: 13px;
}
html body .l-region--navigation ul li.first a {
  color: transparent !important;
  font-size: 5px;
  padding-top: 5px;
}
html body .l-main {
  max-width: 960px;
  margin: auto;
  clear: both;
}
@media (max-width: 480px) {
  html body .l-main {
    padding: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  html body .l-main {
    padding: 10px;
  }
}
html body .l-main h1 {
  border-bottom: 1px solid #666666;
  padding-bottom: 10px;
}
html body .l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
}
html body .l-footer .l-region--footer {
  max-width: 960px;
  margin: auto;
}
html body.front div.panels-flexible-row-new-main-row {
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  padding-bottom: 0;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .views_slideshow_cycle_main {
  width: 100%;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .image {
  width: 45%;
  float: left;
  clear: none;
}
@media (max-width: 580px) {
  html body.front div.panels-flexible-row-new-main-row .view-slider .image {
    display: none;
  }
}
html body.front div.panels-flexible-row-new-main-row .view-slider .image img {
  max-width: 100%;
  vertical-align: bottom;
}
@media (min-width: 769px) {
  html body.front div.panels-flexible-row-new-main-row .view-slider .message {
    float: right;
    font-size: 1.3em;
    width: 45%;
  }
}
html body.front div.panels-flexible-row-new-main-row .view-slider .message h2 {
  font-size: 25px;
  color: #00697D;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .message a {
  background-color: #00697D;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 0;
  text-decoration: none;
  text-transform: uppercase;
}
html body.front div.panels-flexible-row-new-main-row .view-slider .message a:after {
  content: ">";
  background-color: #0C8097;
  font-family: arial;
  margin-left: 10px;
  padding: 10px;
}
html body.front .pane-title {
  color: #A0A0A0;
  font-size: 20px;
  text-transform: lowercase;
}
html body.front div.panels-flexible-column-new-2 {
  border-right: 1px dotted #E5E5E5;
}
@media (max-width: 580px) {
  html body.front div.panels-flexible-column-new-2 {
    border-right: none;
    width: 100%;
  }
}
@media (max-width: 480px) {
  html body.front div.panels-flexible-column-new-2 {
    width: 100%;
  }
}
html body.front div.panels-flexible-column-new-2 .programs-intro {
  font-size: 18px;
}
@media (max-width: 480px) {
  html body.front div.panels-flexible-column-new-2 {
    border-right: 0;
  }
}
html body.front div.panels-flexible-column-new-2 .panels-flexible-column {
  border-right: 1px dotted #E5E5E5;
  min-height: 220px;
  padding-left: 5px;
}
@media (max-width: 480px) {
  html body.front div.panels-flexible-column-new-2 .panels-flexible-column {
    border-right: 0;
    float: none;
    min-height: 20px;
    padding-left: 0;
    width: 100%;
  }
  html body.front div.panels-flexible-column-new-2 .panels-flexible-column img {
    display: none;
  }
  html body.front div.panels-flexible-column-new-2 .panels-flexible-column .panels-flexible-column-inside {
    padding-left: 0;
  }
}
html body.front div.panels-flexible-column-new-2 .panels-flexible-column:last-of-type {
  border-right: 0;
}
html body.front div.panels-flexible-column-new-2 .panels-flexible-column h3 {
  color: #00697D;
  font-size: 15px;
  margin: 10px 0 0;
}
html body.front div.panels-flexible-column-new-3 {
  margin-left: 5px;
}
@media (max-width: 580px) {
  html body.front div.panels-flexible-column-new-3 {
    margin-left: 0px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  html body.front div.panels-flexible-column-new-3 {
    margin-left: -5px;
  }
}
html body.front div.panels-flexible-column-new-3 ul, html body.front div.panels-flexible-column-new-3 li {
  list-style-type: none;
  padding-left: 0;
}
html body.front div#panels-ipe-control-container {
  left: 0;
}
@media (min-width: 769px) {
  html body.not-front.sidebar-first .l-main aside.l-region--sidebar-first {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    border-right: 1px dotted #CCCCCC;
  }
  html body.not-front.sidebar-first .l-main .l-content {
    width: 83.05085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  html body.not-front.sidebar-second .l-main .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  html body.not-front.sidebar-second .l-main aside.l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  html body.not-front.two-sidebars .l-main aside.l-region--sidebar-first {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    border-right: 1px dotted #CCCCCC;
  }
  html body.not-front.two-sidebars .l-main .l-content {
    width: 57.62712%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
  html body.not-front.two-sidebars .l-main aside.l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  background-color: #FFFFCC !important;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background-color: #FFFFCC !important;
}

.calendar-calendar .location {
  color: #777;
}
