body.node-type-service {

	.ds-2col-stacked-fluid {
		background-color: #F2F2F2;
		margin-bottom: 20px;

		.group-left,
		.group-right {
			border-top: 30px solid #0C8096;
			padding: 5px;

			@include breakpoint($mobile) {
				display: block;
				float: none;
				width: 100%
			}
			@include breakpoint($tablet) {
				display: block;
				float: none;
				width: 100%
			}

			div {
				background-repeat: no-repeat;
				font-size: 13px;
				margin-left: 10px;
				padding-left: 70px;

				h2 {
					color: #444444;
			    font-size: 20px;
			    font-weight: normal;
			    margin-bottom: 5px;
			    text-transform: lowercase;
				}

				ul {
					padding-left: 15px;
				}

				&.location {
					background-image: url("../images/icons/location.png");

					div {
						margin-left: 0px;
						padding-left: 0px;
					}

					div.view-service-dates {
						div.view-footer {
							p {
								margin:0;
							}
						}
					}

				}

				&.duration {
					background-image: url("../images/icons/duration.png");
					min-height: 60px;
				}

				&.presenters {
					background-image: url("../images/icons/presenter.png");
					min-height: 50px;

					a {
						display: block;
					}
				}

				&.fee {
					background-image: url("../images/icons/fee.png");
					min-height: 50px;

					span.registration-fee-title {
						color: #757575;
						font-size: 12px;
						font-weight: bold;
						float: left;
					}
					strong {
						color: #757575;
						float: right;
					}
				}

				&.attend {
					background-image: url("../images/icons/attend.png");
					min-height: 50px;
				}

				&.benefits {
					background-image: url("../images/icons/benefits.png");
					min-height: 50px;
				}

				&.inclusions {
					background-image: url("../images/icons/inclusions.png");
					min-height: 50px;
				}

				&.field--name-field-service-category {
					margin: 0;
					padding: 0;

					div {
						margin: 0;
						padding: 0;
					}

					a.service-detail-register-button {
            @include filter-gradient(#00697D, #00505F);
            @include background-image(linear-gradient(#00697D, #00505F));
            @include border-radius(5px);
				    color: #FFFFFF;
		        display: block;
				    float: right;
				    font-size: 18px;
				    font-weight: bold;
				    height: 67px;
            line-height: 15px;
				    margin: 40px;
				    padding: 27px 0 0;
    				text-align: center;
				    width: 182px;
            zoom:1;
					}
				}
			}
		}

		@include breakpoint($mobile) {
			.group-right {
				border-top: 0;
			}
		}
		@include breakpoint($tablet) {
			.group-right {
				border-top: 0;
			}
		}

		.group-footer {
			background-color: #FFF;
			padding-top: 20px;

			.pdf-container {
				border-top: 1px solid #E5E5E5;
				height: 40px;
		    margin-bottom: 25px;
		    margin-top: 15px;
		    padding-top: 10px;
		    width: 100%;

    		.pdf {
			    background-image: url("../images/icons/pdf.jpg");
			    background-repeat: no-repeat;
			    color: #00697D;
			    display: block;
			    font-size: 13px;
			    font-weight: bold;
			    height: 36px;
			    padding: 5px 0 0 45px;
			  }

		    .adobe {
			    font-size: 10px;
			    left: 46px;
			    position: relative;
    			top: -17px;
			  }
		  }

			.field-group-htabs {
				margin-top: 20px;
				margin-bottom: -13px;

				div.view-service-dates {
					div.view-content {
						margin: 10px auto;

						table {
							width: 100%;

							@include breakpoint($mobile) {
								td,
								th {
									vertical-align: top;
								}
							}
						}
					}
				}

				.views-field-field-event-date{
					width: 110px;
				}
			}
		}
	}
}


body.section-services {
	.panel-panel {
		@include breakpoint($mobile) {
			float: none;
			width: 100%;
		}
	}
}
