// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
$legacy-support-for-ie8: true;

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

html {
	body {
		border-top: 6px solid #00697D;
		margin: auto;
		padding-top: 35px;

		h1.site-name {
			@include hide-text(left);
			float: left;
		}

		.l-header {
			max-width: 960px;
			margin: auto;
			margin-bottom: 1em;
			clear: both;

			.l-branding {
				@include grid-span(3, 1);

				@include breakpoint($mobile) {
					@include grid-span(12, 1);

					text-align: center;
				}

				@include breakpoint($tablet) {
					@include grid-span(12, 1);

					text-align: center;
				}
			}
		}


		.l-region--navigation {
			@include grid-span(9, 4);
			margin-top: 25px;
			margin-bottom: 3em;

			@include breakpoint($mobile) {
				margin-bottom: 0;
				margin-top: 0;
			}

			@include breakpoint($tablet) {
				@include grid-span(12, 1);

				margin-bottom: 0;
				margin-top: 0;
			}

			ul {
				li.first {
					background-image: url("../images/home-icon.png");
					background-repeat: no-repeat;
					background-position: 20px 11px;
					font-size: 13px;

					a {
						color: transparent !important;
						font-size: 5px;
						padding-top: 5px;
					}
				}
			}
		}

		.l-main {
			max-width: 960px;
			margin: auto;
			clear: both;

			@include breakpoint($mobile) {
				padding: 10px;
			}
			@include breakpoint($tablet) {
				padding: 10px;
			}

			h1 {
				border-bottom: 1px solid #666666;
				padding-bottom: 10px;
			}
		}

		.l-footer {
			@include grid-span(12, 1);
			clear: both;

			.l-region--footer {
				max-width: 960px;
				margin: auto;
			}
		}

		&.front {

			div.panels-flexible-row-new-main-row {
				border-bottom: 1px solid #E5E5E5;
    		border-top: 1px solid #E5E5E5;
    		padding-bottom: 0;

				.view-slider {

					.views_slideshow_cycle_main {
						width: 100%;
					}
					.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
						width: 100% !important;
						height: auto;
					}
					.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
						width: 100% !important;
						height: auto;
					}
					.views_slideshow_cycle_main .field-content {
						max-width: 100%;
						width: 100%;
					}

					.image {
						width: 45%;
						float: left;
						clear: none;

						@include breakpoint($nomans) {
							display: none;
						}

						img {
							max-width: 100%;
							vertical-align: bottom;
						}
					}
					.message {
						@include breakpoint($desktop) {
							float: right;
							font-size: 1.3em;
							width: 45%;
							margin: 15px 0;
						}

						h2 {
							font-size: 25px;
							color: #00697D;
						}


						a {
							background-color: #00697D;
							color: #fff;
							display: inline-block;
							float: right;
							font-size: 1em;
							margin-top: 10px;
							margin-bottom: 10px;
							padding: 10px;
							padding-right: 0;
							text-decoration: none;
							text-transform: uppercase;

							&:after {
								content: ">";
								background-color: #0C8097;
								font-family: arial;
								margin-left: 10px;
								padding: 10px;
							}
						}
					}
				}
			}

			.pane-title {
				color: #A0A0A0;
    		font-size: 20px;
    		text-transform: lowercase;
			}

			div.panels-flexible-column-new-2 {
				border-right: 1px dotted #E5E5E5;

				@include breakpoint($nomans) {
					border-right: none;
					width: 100%;
				}

				@include breakpoint($mobile) {
					width: 100%;
				}

				.programs-intro {
					font-size: 18px;
				}

				@include breakpoint($mobile) {
					border-right: 0;
				}

				.panels-flexible-column {
					border-right: 1px dotted #E5E5E5;
					min-height: 220px;
					padding-left: 5px;

	    		@include breakpoint($mobile) {
	    			border-right: 0;
	    			float: none;
	    			min-height: 20px;
	    			padding-left: 0;
						width: 100%;

	    			img {
	    				display: none;
	    			}

	    			.panels-flexible-column-inside {
    					padding-left: 0;
    				}
	    		}

	    		&:last-of-type {
	    			border-right: 0;
	    		}

					h3 {
						color: #00697D;
			  	  font-size: 15px;
				    margin: 10px 0 0;
					}
				}
			}

			div.panels-flexible-column-new-3 {
				margin-left: 5px;

				@include breakpoint($nomans) {
					margin-left: 0px;
					width: 100%;
				}

				@include breakpoint($mobile) {
					margin-left: -5px;
				}

				ul, li {
					list-style-type: none;
					padding-left: 0;
				}
			}

			div#panels-ipe-control-container {
				left: 0;
			}
		}

		&.not-front {
			//@include background-grid;
			@include breakpoint($desktop) {

				&.sidebar-first {
					.l-main {

						aside.l-region--sidebar-first {
							@include grid-span(2, 1);
							border-right: 1px dotted #CCCCCC;
						}

						.l-content {
							@include grid-span(10, 3);
						}
					}
				}

				&.sidebar-second {
					.l-main {

						.l-content {
							@include grid-span(9, 1);
						}

						aside.l-region--sidebar-second {
							@include grid-span(3, 10);
						}
					}
				}

				&.two-sidebars {

					.l-main {

						aside.l-region--sidebar-first {
							@include grid-span(2, 1);
							border-right: 1px dotted #CCCCCC;
						}

						.l-content {
							@include grid-span(7, 3);
						}

						aside.l-region--sidebar-second {
							@include grid-span(3, 10);
						}
					}
				}
			}
		}
	}
}

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  background-color: #FFFFCC !important;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background-color: #FFFFCC !important;
}

.calendar-calendar .location {
  color: #777;
}