ul.breadcrumb {
	font-size: 0.929em;
	font-weight: bold;
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline;
		padding: 0;
		margin: 0;

		&:before {
			content: " » ";
		}

		&:first-child:before {
			content: "";
		}
	}
}
