.l-footer {
	background-color: #C8DBDE;
	margin-top: 1em;

	@include breakpoint($mobile) {
		padding: 10px;
	}
	@include breakpoint($tablet) {
		padding: 10px;
	}

	h2 {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
  }

	ul {
    display: inline-block;
    margin: 10px 0 10px;
    padding: 0;
    width: 100%;

		li {
			background: url("../images/footer-li.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
			list-style: none outside none;
			padding: 0 0 0 13px;
		}
  }

	.footer-subscribe {
		@include breakpoint($mobile) {
			@include grid-span(12, 1);
		}
		@include breakpoint($tablet) {
			@include grid-span(6, 1);
		}
		@include breakpoint($desktop) {
			@include grid-span(3, 1);
		}

		form {
			display: inline-block;
		}

		.social-icons a {
			@include squish-text;
	    background-image: url("../images/social-icons-v2.png");
	    background-repeat: no-repeat;
	    float: left;
	    height: 36px;
	    margin-right: 2px;
	    width: 36px;

			&.linkedin {
		    background-position: -94px 0;
			}

			&.twitter {
		    background-position: -46px 0;
			}

			&.facebook {
		    background-position: 2px 0;
			}
		}
	}

	.footer-blog {
		ul {
			margin-top: 0;
		}
		@include breakpoint($mobile) {
			@include grid-span(12, 1);
		}
		@include breakpoint($tablet) {
			@include grid-span(6, 1);
			clear: left;
		}
		@include breakpoint($desktop) {
			@include grid-span(3, 4);
		}
	}

	.footer-endorsements {
		a img {
			margin-right: 5px;
		}

		@include breakpoint($mobile) {
			@include grid-span(12, 1);

			.prosci-content img {
				display: none;
			}

			a img {
				display: block;
				margin-bottom: 5px;
			}
		}
		@include breakpoint($tablet) {
			@include grid-span(6, 7);

			a img {
				display: block;
				margin-bottom: 5px;
			}
		}
		@include breakpoint($desktop) {
			@include grid-span(6, 7);

			.prosci-content p {
		    float: right;
		    margin: 0;
		    width: 63%;
			}

			ul {
				@include column-count(2);
			}
		}
	}

	.footer-copyright {
		@include breakpoint($desktop) {
			@include grid-span(12, 1);
		}
		clear: both
	}
}
