input {
	&[type='text'] {
	  border: 1px solid #E5E5E5;
	  border-radius: 3px;
	  color: #A0A0A0;
	  display: block;
	  font-size: 13px;
	  margin-top: -1px;
	  padding: 5px;

	  &#subscribe-email {
	  	width: 160px;
	  }
	}

	&[type='submit'] {
	  background-color: #A0A0A0;
	  border: 0;
	  border-radius: 3px;
	  color: #FFFFFF;
	  cursor: pointer;
	  font-weight: bold;
	  margin-left: 3px;
	  padding: 5px;
	}
}

select {
    border-color: #CDCECE;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    width: 280px;
}

div.addressfield-container-inline > div.form-item {
	float: none;
}

.l-footer {
	input {
		&[type='text'],
		&[type='submit'] {
			float: left;
		}
	}
}

input.error {
	border: 1px solid red;
}


.entityform {
	background-color: #F3F9FA !important;
	margin-top: 0;
  padding: 30px;

  fieldset {
  	border: 0;

  	legend {
  		width: 100%;

  		.fieldset-legend {
	  		background-image: none !important;
	  		border-bottom: 1px solid #2D8494;
	  		display: block;
		    font-size: 16px;
		    font-weight: bold;
		    margin-bottom: 30px;
		    padding-bottom: 15px;
	    }
  	}
  }

	.field-type-addressfield {
		margin: 0;
		padding-left: 0;

    fieldset {
      margin: 0;
      padding-left: 0;
    }

    legend {
			display: none
		}
	}

  .pre-intructions {
  	background-color: #fff;
  	margin: -30px;
  	margin-bottom: 30px;
  	margin-top: -45px;
  	padding-bottom: 20px;
  	padding-top: 20px;
  }
}
