#block-menu-block-main-menu {
  background: url("../images/menu-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 3px;
  height: 42px;
  padding-right: 10px;
  width: auto;

	@include breakpoint($mobile) {
		display: none;
	}

	@include breakpoint($tablet) {
		margin: 25px 10px 0 10px;
	}

  h2 {
  	display: none;
  }

  ul {
    margin: 0;
    padding: 0;

		li {
		  float: left;
		  list-style: none outside none;
		  margin: 0;
		  padding: 8px 10px 9px;
		  position: relative;

		  @include breakpoint($notdesktop) {
		  	padding: 8px 5px 5px;
		  }

		  @include breakpoint($nomans) {
		  	padding: 8px 3px 3px;
		  }

			a {
		    color: #FFFFFF;
		    float: left;
		    padding: 3px 10px;

		    @include breakpoint($notdesktop) {
		    	padding: 3px 5px;
		    }

			  @include breakpoint($nomans) {
		    	padding: 3px 3px;
			  }
			}

			&.first {
				a {
				  @include breakpoint($nomans) {
			    	padding: 3px 10px;
				  }
				}
			}
		}
	}
}

.links--inline li {
	margin-right: 0.5em;
}


#block-menu-block-left-sidebar-menu,
#block-views-catalog-block,
#block-views-latest-blog-block,
#block-views-archive-block {
	margin-right: 15px;

	h2 {
		border-bottom: 1px solid #D6D6D6;
		color: #A0A0A0;
		font-size: 20px;

	  a {
	  	color: #A0A0A0;
	  }
	}

	ul {
		font-size: 0.914em;
		list-style: none outside none;
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none outside none;
			margin-bottom: 5px;
			margin-left: 0;
			padding-left: 0;
		}
	}
}


a#open-sidr {
	top: 55px;
}
