.l-region--sidebar-first {
	div.block {
		margin-bottom: 25px;
	}
}

.l-region--sidebar-second {

	.panel-pane, .block--basic-cart-shopping-cart, #block-bean-heartplace-scholarships {
		background-color: #F0F0F0;
		margin-bottom: 25px;

		&.free-events {
			div.item-list {
				border-bottom: 1px solid #fff;
			}
		}

		h2 {
			background-color: #A9A9A9;
	    clear: both;
	    color: #FFFFFF;
	    display: inline-table;
	    font-size: 18px;
	    font-weight: bold;
	    line-height: 35px;
	    margin: 0;
	    padding-left: 10px;
	    text-transform: lowercase;
	    width: 100%;
		}

		div.view, div.block__content {
			margin: 10px;
			margin-top: -10px;
			padding-bottom: 10px;

			ul, li {
				list-style-type: none;
				padding-left: 0px;
			}
	  }

	  div.block__content {
	  	margin-top: 0;
	  }
	}

	#block-bean-heartplace-scholarships {
		.field--name-field-block-image {
			text-align: center;
		}
		.field--name-title-field, h3 {
			display:none;
		}
	}
}
