body.page-taxonomy-term {
	.group-left {
		float: none;
		width: 100%;

		@include breakpoint($desktop) {
			float: left;
			width: 50%;
		}
	}

	.group-right {
		float: none;
		width: 100%;

		@include breakpoint($desktop) {
			float: right;
			width: 50%;
		}
	}

	.field {
		margin-bottom: 10px;
	}

	.field-name-field-location-phone {

		.label-inline {
			@include inline-block;
			font-size: 1.071em;
			vertical-align: baseline;
		}
	}

	.field-name-field-location-image {
		text-align: center;
		@include breakpoint($desktop) {
			text-align: right;
		}
	}
}
