.staff-member {
	min-height: 180px;

	img {
		float: left;
		margin-right: 10px;

		@include breakpoint($mobile) {
			display: none;
		}
	}

	h2 {
		padding-top: 5px;
	}

	span {
		dispaly: block;
	}
}
