body.page-user {
	.field--name-field-user-image,
	.field--name-field-user-pdf {
		float: right;
		margin-left: 10px;
		width: 139px;
	}

	.field--name-field-user-pdf {
		clear: right;
		text-align: center;
	}
}
