/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: Arial, sans-serif;
  color: $primary-text;
}

body {
	font-size: 13px;
}

/**
 * $LINKS
 */
a {
  @include link-colors(#3F8E9D, #018FE2, #018FE2, #3F8E9D, #000);

	&:link, &:visited {
	  text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
}



/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {


  a,
  a:visited {

  }
  a:hover {

  }
}

h1, .alpha {
	font-weight: normal;
  line-height: 30px;
}
h2, .beta {
	font-size: 17px;
}
h3, .gamma {
	font-size: 14px;
}
h4, .delta {

}
h5, .epsilon{

}
h6, .zeta {

}

/**
 * $PARAGRAPHS
 */
p,
%p {

}
p + img {

}

/**
 * $QUOTES
 */
blockquote {

  p {

  }
}

q {

}

/**
 * $MARKS
 */
mark,
.marker {

}
