body.node-type-event {

	div.field {
		margin-bottom: 1em;
	}

	div.group-left {
		@include breakpoint($mobile) {
			float: none;
			width: 100%;
		}

		span.date-display-start,
		span.date-display-end {
			clear: both;
			display: block;
		}
	}

	div.group-right {
		@include breakpoint($mobile) {
			float: none;
			width: 100%;
		}
	}

}


body.page-calendar {
	ul.pager {
		list-style-type: none;
	}
}
